<header class="row">
  <h1>Best Books!</h1>
  <button id="dropbtn">
    <i class="fas fa-bars"></i>
  </button>
</header>
<div id="nav-content" class="column">
  <a href="/">Home Page</a>
  <a href="/searches/new">Search For a new Book</a>
  <a href="/books/show">See Your Books</a>
</div>
