<header>
  <nav>
    <a href="../pages/index.ejs">Home Page</a>
    <a href="../pages/searches/new.ejs">Search For a new Book</a>
    <a href="../pages/books/show.ejs">See You Books</a>
  </nav>
</header>
