<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books List</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home Page</a>
        <a href="/searches/new">Search For a new Book</a>
        <a href="/books/show">See You Books</a>
      </nav>
    </header>
    <div class="container">
      <% books.forEach((book)=>{ %>
      <div class="book_container">
        <img src="<%=book.image_url%>" />
        <h2><%=book.title%></h2>
        <a href="/getBook/<%=book.id%>">Click for Details</a>
      </div>
      <%});%>
    </div>
  </body>
</html>
