<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Books</title>
  </head>
  <body>
    <div class="container">
      <% books.forEach(item=>{ %>
      <div class="book_container">
        <img src="<%=item.image%>" />
        <h2><%=item.title%></h2>
        <h3><%=item.author%></h3>
        <h3><%=item.description%></h3>
      </div>
      <%});%>
    </div>
  </body>
</html>
